<!-- File: Views/DeliveryAndPayment/orders.cshtml -->
@model IEnumerable<TasteBuds.Models.CartModel>
<h2>Payment And Orders</h2>
<table class="orders-table mt-3 ml-3">
    <thead>
        <tr class="mr-2">
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="mr-2">
                <td class="mr-2">@item.Name</td>
                <td class="mr-2">@item.Price</td>
                <td class="mr-2">@item.Quantity</td>
                <td class="mr-2">@(item.Price * item.Quantity)</td>
                <td>
                    <a asp-action="Index" asp-controller="Cart" asp-route-id="@item.id" class="btn btn-outline-danger mr-4">Remove</a>
                    <a asp-action="OrdersConfirmedSatus" asp-route-id="@item.id" class="btn btn-outline-primary mr-4">Payment</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="payment-options">
    <label for="PaymentMode">Select Payment Mode:</label>
    <select name="PaymentMode" id="PaymentMode">
        <option value="option1">Visa</option>
        <option value="option2">MasterCard</option>
        <option value="option3">Paypal</option>
        <option value="option4">AmericanExpress</option>
        <option value="option5">Paytm</option>
        <option value="option6">Phonepe</option>
        <option value="option7">GooglePay</option>
    </select>
</div>
