<!-- File: Views/Cart/CartView.cshtml -->
@model IEnumerable<TasteBuds.Models.CartModel>
<h2>Cart</h2>
<table class="cart-table mt-3 ml-3">
    <thead>
        <tr class="mr-2">
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="mr-2">
                <td class="mr-2">@item.Name</td>
                <td class="mr-2">@item.Price</td>
                <td class="mr-2">@item.Quantity</td>
                <td class="mr-2">@(item.Price * item.Quantity)</td>
                <td>
                    <a asp-action="RemoveCart" asp-route-id="@item.id" class="btn btn-outline-danger mr-4">Remove</a>
                    <a asp-action="AddDeliveryAndPayment" asp-controller="DeliveryAndPayment" asp-route-id="@item.id" class="btn btn-outline-success">Checkout</a>
                </td>
            </tr>
        }
    </tbody>
</table>
